* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: black;
    color: black;
    font-family:  'Roboto Mono', monospace;
    text-decoration: none;
  }

  body {
    overflow: hidden; /* Hide scrollbars */
    min-height: 100vh;
  }

  .stripes {
    border:  1px, solid, black;
    height: 50px;
    background: repeating-linear-gradient(
  45deg,
  #eefa0d,
  #faea07 10px,
  #000107 10px,
  #010208 20px
  
);
  }


  .zoom {
    transition: transform .5s;
    transform: scale(1.1);
  }


  .container {
    background: yellow;
    background: linear-gradient(
      180deg,
      rgb(240, 243, 22) 0%,
      rgb(223, 216, 8) 100%
    );
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 2rem;
  }
  .container h1 {
    font-size: 3rem;
  }
  .container .github {
    font-weight: 700;
    border: 2px solid black;
    padding: 0.6rem;
  }
  .container .github:hover {
    text-decoration: underline;
  }
  .container .container__desafios nav ul {
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .container__desafios nav ul li {
    margin: 0.5rem 0;
    font-size: 1.1rem;
  }
  .container .container__desafios nav ul li a:hover {
    text-decoration: underline;
  }