*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    background-color: red;
    height: 100vh;

}

.libro1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: salmon;
}
.libro2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: turquoise;
}

.libro3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: tomato;
}

.libro4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;

}
.libro5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;

}

.libro6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
}

.libro7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}
.libro8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
}

img {
    width: 50%;
}

button {
    margin-top: 15px;
}




@media  (max-width: 1600px) {

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        height: 100vh;
    
    }

    img {
        margin-top: 15px;
    }

    button {
        margin-bottom: 15px;
    }


}

@media  (max-width: 600px) {

    .container{
        display: grid;
        grid-template-columns: 1fr ;
        background-color: red;
        height: 100vh;
    
    }

    img {
        margin-top: 15px;
    }

    button {
        margin-bottom: 15px;
    }

}


